Package: flox-backend
Version: @VERSION@
Priority: optional
Architecture: amd64
Maintainer: Andi Hechtbauer <anti@spin.de>
Description: Flox Site Builder Backend
 RESTful API to register sitename and run a CMS install script
Installed-Size: 31337
Depends: nginx, mariadb-server, openssl
Section: web
