Package: flox-backend
Version: @VERSION@
Priority: optional
Architecture: amd64
Maintainer: <cheathuber@pm.me>
Description: Flox Site Builder Backend
 RESTful API to register sitename and run a CMS install script
Installed-Size: 31337
Depends: mariadb-client, openssl
Section: web
